@model List<ArticleViewModel>




@if (Model.Count != 0)
{
    
    <div>
        <p class="text-center" style="font-size: 1.2rem; font-weight: normal;">Aynı kategorideki farklı <span style="color: red;">yazılar</span></p>
    </div>
    
    @foreach (var item in Model)
    {
        <div style="display: flex; align-items: center;" class="mb-3 mt-1 mr-auto ml-auto col-lg-11">
            <div style="width: 50%; margin-right: 13px;">
                <a asp-area="Main" asp-controller="Home" asp-action="ArticlePage"
                   asp-route-url="@item.Url"
                   title="yazıya gitmek için tıkla">
                    <img src="@item.imageUrl"
                         style="border-radius: 10px;width: 100%; height: 165px;max-width: 260px;"
                         alt="benzer yazılar">
                </a>
            </div>
            <div>
                <span class="text-muted" style="font-size: 1.1rem">
                    @await Component.InvokeAsync("ShowTime", @item.createdAt)
                </span>
                <br/>
                <p style="font-weight: 650;font-size: 1.3rem">
                    <a asp-area="Main" asp-controller="Home" asp-action="ArticlePage"
                       asp-route-url="@item.Url"
                       style="text-decoration: none ;color: #333"
                       title="yazıya gitmek için tıkla">
                        @item.Title
                    </a>
                </p>
            </div>
        </div>
    }
}