@model List<CommentViewModel>


@foreach (var item in Model)
{
    <div class="d-flex flex-column my-2" id="comment-container">
    <div class="bg-white">
        <div class="flex-row d-flex">
            <img src="dp.jpg" width="40" class="rounded-circle">
            <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name">@item.CommentUserName</span>
                <span class="date text-black-50">Katılma Tarihi : @item.CreatedAt.ToString("d")</span>
                <span class="date text-black-50">Mesaj Sayısı : @item.UserCommentCount</span>
            </div>
        </div>
        <div class="mt-3">
            <p class="comment-text">@item.Content</p>
        </div>
    </div>
    <div class="bg-white">
        <div class="d-flex flex-row fs-14">
            <div class="p-2 cursor p-2">
                <a 
                    data-toggle="tooltip"
                    data-popper-placement="top"
                    title="Beğen"
                    id="comment_@item.CommentId-325_like"><!-- carefull _like-->
                    <i id="like_icon_@item.CommentId-445" class="fa fa-thumbs-o-up @(item.isLiked ? "text-danger" : "")"></i> 
                    <span id="like_count_@item.CommentId-878">@item.likeCount</span>

                </a>
                <br/>
                <span class="text-danger" id="err_@item.CommentId-400"></span>
            </div>
            <div class="p-2 cursor p-2">
                <a data-toggle="tooltip"
                   data-popper-placement="top"
                   title="Beğenme"
                   id="comment_@item.CommentId-967_dislike">
                    <i id="dislike_icon_@item.CommentId-854" class="fa fa-thumbs-o-down @(item.isdisLiked ? "text-danger" : "")"></i> 
                    <span id="dislike_count_@item.CommentId-143">@item.dislikeCount</span>
                </a>
                <br/>
                <span class="text-danger" id="err_@item.CommentId-400"></span>
            </div>
        </div>
        <div class="text-muted">@await Component.InvokeAsync("ShowTime",item.CommentDate)</div>
    </div>
</div>

}