@model CommentPaginationViewModel


@if (Model.List.Count() == 0 || Model.List.Count() == null)
{
     <h3 class="text-danger text-center">gösterilecek yorum yok gibi</h3>
}
else
{
    @foreach (var item in Model.List)
    {
        <div id="comment_@item.CommentId-311">
            <div class="d-flex flex-column my-2" id="comment-container">
                <div class="bg-white">
                    <div class="flex-row d-flex">
                        <img src="@item.CommentUserImage" width="40" class="rounded-circle" style="width: 40px;height: 40px">
                        <div class="d-flex flex-column justify-content-start ml-2 mx-2">
                            <span class="d-block font-weight-bold name">
                                <a asp-controller="User" asp-action="Index" asp-route-username="@item.CommentUserName"
                                   style="text-decoration: none">
                                    @item.CommentUserName
                                </a>
                            </span>
                            <span class="date text-black-50">Katılma Tarihi : @item.CreatedAt.ToString("d")</span>
                            <span class="date text-black-50">Mesaj Sayısı : @item.UserCommentCount</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div id="@item.CommentId-111-comment">@Html.Raw(@item.Content)</div>
                    </div>
                </div>
                <div class="bg-white">
                    @if (item.CommentUserName.Equals(User.Identity.Name) || !User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex flex-row fs-14">
                            <div class="p-2  p-2">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span id="like_count_@item.CommentId-878">@item.likeCount</span>
                                <br/>
                                <span class="text-danger" id="err_@item.CommentId-400"></span>
                            </div>
                            <div class="p-2  p-2">
                                <i class="fa fa-thumbs-o-down"></i>
                                <span id="dislike_count_@item.CommentId-143">@item.dislikeCount</span>
                                <br/>
                                <span class="text-danger" id="err_@item.CommentId-400"></span>
                            </div>
                        </div>
                        
                        if (User.Identity.IsAuthenticated)
                        {
                            <div class="row">
                                <div class="col-2">
                                    <div class="mt-2">
                                        <a id="editComment_@item.CommentId-232">
                                            <i class="fa fa-edit text-warning mx-3" style="font-size: 30px"></i>
                                            <br/>
                                            <span class="text-danger" id="err_@item.CommentId-400"></span>
                                        </a>
                                    </div>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="col-2">
                                        <div class="mt-2">
                                            <a id="deleteComment_@item.CommentId-121"
                                               onclick="confirmDelete()">
                                                <i class="fa fa-trash text-danger mx-3" style="font-size: 30px"></i>
                                                <br/>
                                                <span class="text-danger" id="err_@item.CommentId-400"></span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div> 
                        }
                    }
                    else
                    {
                        <div class="d-flex flex-row fs-14">
                            <div class="p-2 cursor p-2">
                                <a
                                    data-toggle="tooltip"
                                    data-popper-placement="top"
                                    title="Beğen"
                                    id="comment_@item.CommentId-325_like">
                                    <!-- carefull _like-->
                                    <i id="like_icon_@item.CommentId-445" class="fa fa-thumbs-o-up @(item.isLiked ? "text-primary" : "")"></i>
                                    <span id="like_count_@item.CommentId-878">@item.likeCount</span>

                                </a>
                                <br/>
                                <span class="text-danger" id="err_@item.CommentId-400"></span>
                            </div>
                            <div class="p-2 cursor p-2">
                                <a data-toggle="tooltip"
                                   data-popper-placement="top"
                                   title="Beğenme"
                                   id="comment_@item.CommentId-967_dislike">
                                    <i id="dislike_icon_@item.CommentId-854" class="fa fa-thumbs-o-down @(item.isdisLiked ? "text-danger" : "")"></i>
                                    <span id="dislike_count_@item.CommentId-143">@item.dislikeCount</span>
                                </a>
                                <br/>
                                <span class="text-danger" id="err_@item.CommentId-400"></span>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            // gereksiz belki sil eklenir
                            <div class="row">
                                <div class="col-2">
                                    <div class="mt-2">
                                        <a id="editComment_@item.CommentId-232">
                                            <i class="fa fa-edit text-warning mx-3" style="font-size: 30px"></i>
                                            <br/>
                                            <span class="text-danger" id="err_@item.CommentId-400"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="mt-2">
                                        <a id="deleteComment_@item.CommentId-121">
                                            <i class="fa fa-trash text-danger mx-3" style="font-size: 30px"></i>
                                            <br/>
                                            <span class="text-danger" id="err_@item.CommentId-400"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="text-muted">@await Component.InvokeAsync("ShowTime", item.CommentDate)</div>
                    @if (item.CommentUserSignature is not null)
                    {
                        <hr/>
                        <div>
                            <p style="color: gray; font-size: 12px; margin-bottom: 5px;">Kullanıcı Imzası:</p>
                            <p style="font-size: 14px; margin-bottom: 0;">@item.CommentUserSignature</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

<div page-model="@Model.Pagination" going-to="@Model.Action"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-classes-enabled="true"
     class="btn group mt-3">
</div>