@model PaginationNotificationViewModel

@{
    ViewData["Title"] = "Bildirimler";
}

<div class="container justify-content-between d-flex  mt-4">
    <div class="display-6">Bildirimler</div>
    @if (Model.List.Count > 0)
    {
        <div class="text-right">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">
                Bildirimleri sil
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Bildirimleri sil</h4>
                        </div>
                        <div class="modal-body">
                            Tüm bildirimler silinecek emin misin ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <a asp-action="removeAllNotifications" class="btn btn-primary">Evet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="list-group mt-3">
    @if (Model.List.Count != 0 && Model != null)
    {
        @foreach (var item in Model.List)
        {
            <a asp-controller="Subject" asp-action="Details" asp-route-url="@item.titleUrl"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <img src="@item.userImage" style="width: 20px;height: 20px" class="img-fluid rounded-2"/>
                        @item.username
                    </h5>
                    <small>@await Component.InvokeAsync("ShowTime", @item.CreatedAt)</small>
                </div>
                <p class="mb-1">takip ettiğin <span class="text-primary">@item.title</span> isimli konuya mesaj yazdı</p>
                <small>Bu mesajdan sonra başkalarıda mesaj yazmış olabilir</small>
            </a>
        }
        <div page-model="@Model.Pagination" page-action="notifications"
             page-class="btn"
             page-class-normal="btn-outline-success"
             page-class-selected="btn-primary"
             page-classes-enabled="true"
             class="btn group mt-3">
        </div>
    }
    else
    {
        <p class="mx-3 text-muted" style="font-size: 18px">Bildirim yok</p>
    }
</div>



