@model ArticlePageViewModel

@{
    ViewData["Title"] = @Model.Title;
}

@section Head
{
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:url" content="https://www.techarsiv.com/@Model.Url">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@Model.Title | Techarsiv.com">
    <meta property="og:description" content="@Model.SubTitle">
    <meta property="og:image" content="https://techarsiv.com@(Model.image)">
    <meta property="og:site_name" content="Techarsiv">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="BugraOzdemir58">
    <meta name="twitter:creator" content="BugraOzdemir58">  
    <meta name="twitter:title" content="@Model.Title | Techarsiv">
    <meta name="twitter:description" content="@Model.SubTitle">
    <meta name="twitter:image" content="https://techarsiv.com@(@Model.image)">
    
    <meta itemprop="name" content="@Model.Title | Techarsiv.com">  
    <meta itemprop="description" content="@Model.SubTitle">  
    <meta itemprop="image" content="https://techarsiv.com@(Model.image)">
        
    
    
    
    <link rel="stylesheet" href="~/css/mainPage/articleStyle.css"/>
}


<div class="row mt-3">
    <div class="col-lg-9">
        <a asp-area="Main"
           asp-controller="Home"
           asp-action="tag"
           asp-route-tagUrl="@Model.TagUrl"
           title="bu konu hakkında daha fazla yazı">
            <span class="mb-2 badge badge-secondary">
                @Model.TagName
            </span>
        </a>
        <h1>@Model.Title</h1>
        <p class="text-muted">Yazan
            <a asp-area=""
               asp-controller="User"
               asp-action="Index"
               asp-route-username="@Model.Username"
               style="text-decoration: none;color: #cc0000;"
               title="yazar hakkında sayfa">
                @Model.Username
            </a>
            - @await Component.InvokeAsync("ShowTime", @Model.CreatedAt)
        </p>

        <div class="custom">
            @Html.Raw(@Model.Content)
        </div>
        <br/>
        
        
        
        
        
        <hr/>
        @await Component.InvokeAsync("Similar",new {tagId = @Model.TagId,articleId = @Model.ArticleId})
    </div>
    <div class="col-lg-3">
        @await Component.InvokeAsync("LastUploded", @Model.ArticleId)
    </div>
</div>


@section Scripts
{
    <script>
        window.onload=function(){document.querySelector(".custom").querySelectorAll("p").forEach(function(e){var t=e.textContent.trim();if(t.startsWith("<iframe")){e.classList.add("iframe-hidden");var r=document.createElement("div");r.innerHTML=t;var i=r.firstChild;i.style.width="100%",i.style.height="315px",e.parentNode.replaceChild(i,e)}})};for(var href,links=document.querySelectorAll("a"),i=0;i<links.length;i++)-1===links[i].getAttribute("href").indexOf("techarsiv")&&links[i].setAttribute("rel","nofollow");for(var images=document.querySelectorAll("img"),i=0;i<images.length;i++)images[i].setAttribute("alt","ilgili resim");
    </script>
}
