@model ArticlePageViewModel

@{
    ViewData["Title"] = @Model.Title;
}

@section Head
{
    <style>
        .custom {
            font-family: "Gill Sans", sans-serif;
            font-size: 20px;
            color: gray;
        }
        .custom a {
            text-decoration: none;
            color: #cc0000;
        }
        blockquote {
          margin: 0;
        }
        
        blockquote p {
          padding: 15px;
          background: #eee;
          border-radius: 5px;
        }
        
        blockquote p::before {
          content: '\201C';
        }
        
        blockquote p::after {
          content: '\201D';
        }
    </style>
}

<div class="row mt-3">
    <div class="col-lg-9">
        <a asp-area="Main"
           asp-controller="Home"
           asp-action="tag"
           asp-route-tagUrl="@Model.TagUrl">
            <span class="mb-2 badge badge-secondary">
                @Model.TagName
            </span>
        </a>
        <h2>@Model.Title</h2>
        <p class="text-muted">Yazan
            <a asp-area=""
               asp-controller="User"
               asp-action="Index"
               asp-route-username="@Model.Username"
               style="text-decoration: none;color: #cc0000;">@Model.Username</a>
            - @await Component.InvokeAsync("ShowTime", @Model.CreatedAt)
        </p>

        <div class="custom">
            @Html.Raw(@Model.Content)
        </div>
        <br/>
        
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7737220317559128"
             crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-7737220317559128"
             data-ad-slot="7809728673"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
        
        
        <hr/>
        @await Component.InvokeAsync("Similar",new {tagId = @Model.TagId,articleId = @Model.ArticleId})
    </div>
    <div class="col-lg-3">
        @await Component.InvokeAsync("LastUploded", @Model.ArticleId)
    </div>
</div>


@section Scripts
{
    <script asp-append-version="true" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("figure.image img").each(function () {
                $(this).width(), $(this).height(), $(this).css("max-width", "100%"),$(this).css("border-radius", "13px"), $(this).css("height", "auto"), $(this).css("margin-left", "auto"), $(this).css("margin-right", "auto");
            });
        });

    </script>
    <script>
        window.onload = function() {
            var divContainer = document.querySelector('.custom');
            var paragraphs = divContainer.querySelectorAll('p');
            paragraphs.forEach(function(paragraph) {
                var content = paragraph.textContent.trim();
                if (content.startsWith('<iframe')) {
                    paragraph.classList.add('iframe-hidden');
                    var iframeContainer = document.createElement('div');
                    iframeContainer.innerHTML = content;
                    var iframe = iframeContainer.firstChild;
                    iframe.style.width = '100%'; // Genişliği %100 yap
                    iframe.style.height = '315px'; // Yüksekliği otomatik ayarla
                    paragraph.parentNode.replaceChild(iframe, paragraph);
                }
            });
        };
    </script>

}
