@model PaginationMainPageViewModel
@{
    ViewData["Title"] = "Lamı Cimi Yok";
}

@section Head
{
	<link rel="stylesheet" href="~/css/mainPage/app.css"/>
	<link rel="stylesheet" href="~/css/mainPage/app1.css"/>
}

@{
	// dil versiyonunu ayarlardan 12 seç lang versiyon C#12
	List<string> list = ["blue", "red", "green", "yellow"];

	int count = 0;
}

<div class="row">
		<div class="col-lg-9">
			<div class="container py-4">
				<!--<h1 class="h1 text-center" id="pageHeaderTitle">Son yazılar</h1>-->
				@if (Model.List.Count != 0)
				{
					@foreach (var item in Model.List)
					{
						<article class="postcard @(count % 2 == 0 ? "dark" : "light") @(list[count % 3])">
							<a class="postcard__img_link" href="#">
								<img class="postcard__img" src="@item.Image" alt="Image Title" />
							</a>
							<div class="postcard__text">
								<h1 class="postcard__title blue">
									<a asp-area="Main"
										asp-action="ArticlePage"
									   asp-controller="Home"
									   asp-route-url="@item.url">
										@item.Title
										</a>
								</h1>
								<div class="postcard__subtitle small">
									<time datetime="2020-05-25 12:00:00">
										<i class="fas fa-calendar-alt mr-2"></i>
										@await Component.InvokeAsync("ShowTime",@item.CreatedAt)
									</time>
								</div>
								<div class="postcard__bar"></div>
								<div class="postcard__preview-txt">@item.SubTitle</div>
								<ul class="postcard__tagbox">
									<li class="tag__item">
										<a asp-controller="Home" asp-action="tag" asp-area="Main" asp-route-tagUrl="@item.TagUrl"
										   class="tag-cloud-link">
											<i class="fas fa-tag mr-2"></i>@item.TagName
										</a>
										
										
									</li>
									<li class="tag__item">
										<a asp-area="" asp-controller="User" asp-action="Index" asp-route-username="@item.Username">
											<i class="fas fa-user mr-2"></i>@item.Username
										</a>
									</li>
									<li class="tag__item play @(list[count % 3])">
										<a asp-area="Main"
										   asp-controller="Home"
										   asp-action="ArticlePage"
										   asp-route-url="@item.url"><i class="fas fa-play mr-2"></i>Okumaya başla</a>
									</li>
								</ul>
							</div>
						</article>

						count++;
					}
				}
				else
				{
					<p>Burası boş gibi.</p>
				}
				
				<div class="text-center">
					<div page-model="@Model.Pagination" page-action="Home"
					     param="@(Model.Param is not null ? Model.Param : "")"
					     page-class="btn"
					     page-class-normal="btn-outline-dark"
					     page-class-selected="btn-primary"
					     page-classes-enabled="true"
					     class="btn group mt-3">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="container py-4">
				@await Component.InvokeAsync("Sidebar")
			</div>
		</div>
	</div>




@section Scripts
{
  <script  asp-append-version="true" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script  asp-append-version="true" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
