<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>@ViewData["Title"] | Techarsiv Forum</title>
    @await RenderSectionAsync("Head",false)
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" asp-append-version="true"/>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7737220317559128"
         crossorigin="anonymous"></script>
    <!--- ! --->
    <link rel="icon" type="image/x-icon" href="~/favicon2.ico">

    
</head>
<body>
@if (TempData["message"] is not null)
{
    <h6>@TempData["message"]</h6>
}
<partial name="_navbar"/>

@await RenderSectionAsync("Header", false)



@if (TempData["temp"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["temp"]
    </div>
}

<div class="container-sm">
    <main role="main">
        <div class="col-12 mx-auto">
            @RenderBody()
        </div>
    </main>
</div>


<div class="footer">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">TechArsiv</a></li>
      <li class="nav-item"><a href="/forum" class="nav-link px-2 text-muted">Forum</a></li>
      
      <li class="nav-item"><a asp-page="/About" aria-current="page" class="nav-link px-2 text-muted">Hakkında</a></li>
    </ul>
    <p class="text-center text-muted">&copy; @DateTime.Now.Year techarsiv</p>
    <p class="text-center"><a asp-page="/confidentiality" aria-current="page"
                              style="text-decoration: none;color: gray;font-size: 12px"
                              >Gizlilik sözleşmesi</a></p>
  </footer>
</div>


<script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/js/site.js" asp-append-version="true"></script>
<script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" asp-append-version="true" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script asp-append-version="true" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script asp-append-version="true" src="~/js/signalr.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<!-- iletişim için yazın -->
</body>
</html>