<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Techarsiv">
    <meta name="publisher" content="Techarsiv">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://x.com/BugraOzdemir58?t=OMRTVevaVqCrxbHfRPdHNA&s=09">
    <meta name="twitter:title" content="Techarsiv: Gündeme Dair Her Şey!">
    <meta name="twitter:description" content="Son dakika haberleri, güncel gelişmeler, ilgi çekici olaylar ve daha fazlası. Techarsiv'de en güvenilir ve hızlı haber kaynağı.">
    <meta name="twitter:image" content="https://techarsiv.com/images/articles/coverImages/steam-games-1c68.jpg">

    <meta property="og:locale" content="tr_TR" />
    <meta property="og:url" content="https://www.techarsiv.com">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Haberler | Techarsiv.com">
    <meta property="og:description" content="ilgi çekici haberler.">
    <meta property="og:image" content="https://techarsiv.com/images/articles/coverImages/steam-games-1c68.jpg">
    <meta property="og:site_name" content="Techarsiv">

    
    <meta name="description" content="Çeşitli konular hakkında tartışma ve paylaşım platformu. En yeni ve güncel haberler, teknoloji gelişmeleri, eğlence, spor, sağlık ve daha fazlası için Techarsiv Forum'u keşfedin.">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#ffffff">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="canonical" href="https://techarsiv.com/">
    
    
    <title>@ViewData["Title"] | Techarsiv Forum</title>
    @await RenderSectionAsync("Head",false)
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" asp-append-version="true"/>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7737220317559128"
         crossorigin="anonymous"></script>
    <!--- ! --->
    <link rel="icon" type="image/x-icon" href="~/favicon2.ico">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WWL7D2CW46">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-WWL7D2CW46');
    </script>
</head>
<body>
@if (TempData["message"] is not null)
{
    <h6>@TempData["message"]</h6>
}
<partial name="_navbar"/>

@await RenderSectionAsync("Header", false)



@if (TempData["temp"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["temp"]
    </div>
}

<div class="container-sm">
    <main role="main">
        <div class="col-12 mx-auto">
            @RenderBody()
        </div>
    </main>
</div>


<div class="footer">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="/" class="nav-link px-2 text-muted"
                   title="ana sayfaya sayfasına gider">
                    TechArsiv
                </a>
            </li>
            <li class="nav-item">
                <a href="/forum" class="nav-link px-2 text-muted"
                   title="forum sayfasına gider">
                    Forum
                </a>
            </li>
  
            <li class="nav-item">
                <a asp-page="/About" aria-current="page" class="nav-link px-2 text-muted"
                   title="hakkında sayfasına gider">
                    Hakkında
                </a>
            </li>
        </ul>
        <p class="text-center text-muted">&copy; @DateTime.Now.Year techarsiv</p>
        <p class="text-center">
            <a asp-page="/confidentiality" aria-current="page"
               style="text-decoration: none;color: gray;font-size: 12px"
               title="gizlilik sözleşmesine gider">
                Gizlilik sözleşmesi
            </a>
        </p>
  
    </footer>
</div>


<script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/js/site.js" asp-append-version="true"></script>
<script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" asp-append-version="true" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script asp-append-version="true" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script asp-append-version="true" src="~/js/signalr.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<!-- iletişim için yazın -->
</body>
</html>