@using Services.Helpers
@model SubjectViewModel

@{
    ViewData["Title"] = Model.Subject.Title;
}



@section Head
{
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="BugraOzdemir58">
    <meta name="twitter:creator" content="BugraOzdemir58">
    <meta name="twitter:title" content="@Model.Subject.Title | Techarsiv">
    <meta name="twitter:description" content="Kişilerin sorular sorduğu ve yanıtlar aldığı forum kaynağı.">
    <meta name="twitter:image" content="https://techarsiv.com/images/subjects/logo-1b7f.png">

    <!-- facebook -->
    <meta property="og:locale" content="tr_TR"/>
    <meta property="og:url" content="https://www.techarsiv.com/forum">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@Model.Subject.Title | Techarsiv.com">
    <meta property="og:description" content="Kişilerin sorular sorduğu ve yanıtlar aldığı forum kaynağı.">
    <meta property="og:image" content="https://techarsiv.com/images/subjects/logo-1b7f.png">
    <meta property="og:site_name" content="Techarsiv">

    <!-- google -->
    <meta itemprop="name" content="@Model.Subject.Title | Techarsiv.com">
    <meta itemprop="description" content="Kişilerin sorular sorduğu ve yanıtlar aldığı forum kaynağı.">
    <meta itemprop="image" content="https://techarsiv.com/images/subjects/logo-1b7f.png">
    
    
    <link asp-append-version="true" rel="stylesheet" href="~/css/style4.css"/>
}


<div class="headings d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5 class="mt-1">
            <span class="badge bg-secondary" style="font-size: 0.6rem">
                <a asp-controller="Home" asp-action="Tags" asp-route-category="@Model.Category.CategoryUrl"
                   style="text-decoration: none;color: white"
                   title="bu kategorideki tüm konuları görmek için tıkla">
                    @Model.Category.CategoryName
                </a>
            </span>
        </h5>
        <h1 style="font-size: 1.3rem"><strong>@Model.Subject.Title</strong></h1>
        <p><i class="fa fa-user"></i> @Model.UserName 
            · <i class="fa fa-clock-o" aria-hidden="true"></i> @await Component.InvokeAsync("ShowTime",Model.CreatedAt)
            · <i class="fa fa-reply" aria-hidden="true"></i> <span id="commentCount"> @Model.CommentCount </span></p>
    </div>
    
    
    <div class="buttons">
        <div class="message_share" style="color: gray;font-size: 12px"></div>
        <span class="badge bg-white d-flex flex-row align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="btn-group text-center">
                    <form method="post" asp-action="fallowSubject" asp-controller="Subject">
                        <input type="hidden" name="username" value="@User.Identity.Name"/>
                        <input type="hidden" name="subjectId" value="@Model.Subject.SubjectId"/>
                        <input type="hidden" name="url" value="@Model.Subject.Url"/>
                        
                        @if (Model.IsFollowing)
                        {
                            <button type="submit" class="btn btn-outline-secondary">Takibi bırak</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-secondary">Konuyu takip et</button>
                        }
                    </form>
                </div>
            }
            <!--<div class="btn-group text-center mx-2">
                <a href="" class="btn btn-outline-success" id="shareButton">Paylaş</a>
            </div>-->
        </span>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="row  d-flex justify-content-center">
            <!-- subject start -->
            @if (Model.isMain)
            {
                <div class="d-flex flex-column" id="comment-container">
                    <div class="bg-white">
                        <div id="err" class="text-danger mb-2"></div>
                        <div class="flex-row d-flex">
                            <img src="@Model.UserImage" style="width: 40px;height: 40px" class="rounded-circle mt-2">
                            <div class="d-flex flex-column justify-content-start ml-2 mx-3">
                                <span class="d-block font-weight-bold name">
                                    <a asp-controller="User" asp-action="Index" asp-route-username="@Model.UserName"
                                       style="text-decoration: none;color: #cc0000 "
                                       title="kullanıcı sayfasını görmek için tıkla">
                                        @Model.UserName
                                    </a>
                                </span>
                                <span class="date text-black-50">Katılma Tarihi : @Model.CreatedAt.ToString("d")</span>
                                <span class="date text-black-50">Mesaj Sayısı : @Model.UserCommentCount</span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="custom">@Html.Raw(@Model.Subject.Content)</div>
                        </div>
                    </div>
                    <div class="bg-white">
                        @{
                            var user = await Component.InvokeAsync("CheckSubjectUser", @Model.Subject.SubjectId);
                            var content = HtmlContentToString.ConvertHtmlContentToString(user);
                        }

                        @if (content == "false" && User.Identity.IsAuthenticated)
                        {
                            <div class="d-flex flex-row fs-14">
                                <div class="p-2 cursor p-2">
                                    <a id="subject_like"
                                       data-toggle="tooltip"
                                       data-popper-placement="top"
                                       title="Beğen">
                                        <i id="like_icon" class="fa fa-thumbs-o-up @(Model.isLiked ? "text-primary" : "")"></i>
                                        <span id="likecount">@Model.likeCount</span>

                                    </a>
                                </div>
                                <div class="p-2 cursor p-2">
                                    <a
                                        id="subject_dislike"
                                        data-toggle="tooltip"
                                        data-popper-placement="top"
                                        title="Beğenme">
                                        <i id="dislike_icon" class="fa fa-thumbs-o-down @(Model.isdisLiked ? "text-danger" : "")"></i>

                                        <span id="dislikecount">@Model.dislikeCount</span>

                                    </a>
                                </div>
                                <div class="p-2 cursor p-2">
                                    <a
                                        id="subject_heart"
                                        data-toggle="tooltip"
                                        data-popper-placement="top"
                                        title="Kalp">
                                        <i id="heart_icon" class="fa fa-heart @(Model.isheart ? "text-warning" : "")"></i>

                                        <span id="heartcount">@Model.heartCount</span>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row fs-14">
                                <div class="p-2 p-2">
                                    <i id="like_icon" class="fa fa-thumbs-o-up"></i>
                                    <span id="likecount">@Model.likeCount</span>
                                </div>
                                <div class="p-2 p-2">
                                    <i id="dislike_icon" class="fa fa-thumbs-o-down"></i>
                                    <span id="dislikecount">@Model.dislikeCount</span>
                                </div>
                                <div class="p-2 p-2">
                                    <i id="heart_icon" class="fa fa-heart"></i>
                                    <span id="heartcount">@Model.heartCount</span>
                                </div>
                            </div>
                        }

                        <div class="text-muted">@await Component.InvokeAsync("ShowTime", Model.Subject.CreatedAt)</div>
                        <!-- zaman kaybı 4 saat sildim -->

                        @if (Model.UserSignature is not null)
                        {
                            <hr/>
                            <div>
                                <p style="color: gray; font-size: 12px; margin-bottom: 5px;">Kullanıcı Imzası:</p>
                                <p style="font-size: 14px; margin-bottom: 0;">@Model.UserSignature</p>
                            </div>
                        }

                    </div>
                </div>
            }
            <!-- subject end -->
            <hr class="mt-6"/>
            
            <div id="comments">
                @await Component.InvokeAsync("DetailsComments",new{subjectId=Model.Subject.SubjectId,p = Model.p})
            </div>
            
            <hr class="my-3"/>
            <div class="text-danger" id="DivError"></div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.BanUntill.Equals(DateTime.MinValue))
                    {
                        <h2>Yorum Ekle</h2>
                        <form asp-action="AddComment" asp-controller="Comment" method="post">
                            <!--<div class="text-danger" asp-validation-summary="All"></div>-->
                            <input type="hidden" name="SubjectId" id="SubjectId" value="@Model.Subject.SubjectId"/>

                            <div class="col-md-12 mb-3">
                                <label id="contentLabel" class="form-label">Yorum</label>
                                <textarea id="Content" name="Content"></textarea>
                            </div>

                            <div id="btnkayit" class="col-md-12 mb-3 text-center">
                                <button id="btnYorumKayit" type="button" class="btn btn-outline-primary">Kaydet</button>
                            </div>
                            <div id="edit_button" class="col-md-12 mb-3 text-center" style="display: none">
                                <button id="updatecommentbtn" type="button" class="btn btn-outline-success">Düzenle</button>
                            </div>
                        </form>
                        <div class="cmt_id" style="display: none"></div>
                    }
                }
                else
                {
                    <h3 style="font-size: 1rem" class="text-muted my-4 mb-lg-5">Yorum yazmak için <a asp-action="Login" asp-controller="Account" class="text-primary" style="text-decoration: none"
                                                                             title="giriş yapmak için tıkla">giriş yap</a></h3>
                }
            </div>
        </div>
        
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7737220317559128"
             crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-7737220317559128"
             data-ad-slot="7809728673"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
        
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">Yeni konular</div>
            @await Component.InvokeAsync("LastSubjects")
        </div>
        <div class="card mb-4">
            <div class="card-header">Yeni Mesajlar</div>
            @await Component.InvokeAsync("LastComments")
        </div>
    </div>
    <div id="spinner" class="spinner" style="display: none"></div>
</div>


@section Scripts {
    
    <partial name="_Scripts"/>

    <script type="text/javascript">
   
    $(document).ready(() => {
        $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    
    <!--<script type="text/javascript">
        document.getElementById("shareButton").addEventListener("click",function(t){t.preventDefault();var e=window.location.href;navigator.clipboard.writeText(e).then(function(){var t=document.querySelector(".message_share");t.textContent="Link kopyalandı",setTimeout(function(){t.textContent=""},1e4)}).catch(function(t){alert("Link kopyalanırken bir hata oluştu: "+t)})});
    </script>-->
    
    <script>
        window.onload=function(){document.querySelector(".custom").querySelectorAll("p").forEach(function(e){var t=e.textContent.trim();if(t.startsWith("<iframe")){e.classList.add("iframe-hidden");var r=document.createElement("div");r.innerHTML=t;var i=r.firstChild;i.style.width="100%",i.style.height="315px",e.parentNode.replaceChild(i,e)}})};
    </script>

}