@model SubjectViewModel

@section Head
{
    <link asp-append-version="true" rel="stylesheet" href="css/style4.css"></link>
}

@{
    // metod component oldu
}

<div class="headings d-flex justify-content-between align-items-center mb-3">
    <div>
        <h6 class="mt-1">
            <span class="badge bg-secondary">
                <a 
                   style="text-decoration: none;color: white">
                    #Kategori Ismi
                </a>
            </span>
        </h6>
        <h4><strong>@Model.Title</strong></h4>
        <p><i class="fa fa-user"></i> @Model.UserName 
            · <i class="fa fa-clock-o" aria-hidden="true"></i> 12:30
            · <i class="fa fa-reply" aria-hidden="true"></i> <span id="commentCount"> @Model.CommentCount </span></p>
    </div>
    
    <div class="buttons">
        <span class="badge bg-white d-flex flex-row align-items-center">
            <div class="btn-group">
                <a href="" class="btn btn-success">Paylaş</a>
            </div>
        </span>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="row  d-flex justify-content-center">
            <!-- subject start -->

            <div class="d-flex flex-column" id="comment-container">
                <div class="bg-white">
                    <div id="err" class="text-danger mb-2"></div>
                    <div class="flex-row d-flex">
                        <img src="@Model.UserImage" style="width: 40px;height: 40px" class="rounded-circle mt-2">
                        <div class="d-flex flex-column justify-content-start ml-2 mx-3">
                            <span class="d-block font-weight-bold name">
                                <a asp-controller="User" asp-action="Index" asp-route-username="@Model.UserName"
                                   style="text-decoration: none ">
                                    @Model.UserName
                                </a>
                            </span>
                            <span class="date text-black-50">Katılma Tarihi : @Model.CreatedAt.ToString("d")</span>
                            <span class="date text-black-50">Mesaj Sayısı : @Model.UserCommentCount</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p>@Html.Raw(@Model.Content)</p>
                    </div>
                </div>
                <div class="bg-white">


                    <div class="d-flex flex-row fs-14">
                        <div class="p-2 p-2">
                            <i id="like_icon" class="fa fa-thumbs-o-up"></i>
                            <span id="likecount">13</span>
                        </div>
                        <div class="p-2 p-2">
                            <i id="dislike_icon" class="fa fa-thumbs-o-down"></i>
                            <span id="dislikecount">13</span>
                        </div>
                        <div class="p-2 p-2">
                            <i id="heart_icon" class="fa fa-heart"></i>
                            <span id="heartcount">13</span>
                        </div>
                    </div>

                    <div class="text-muted">08:46</div>
                    <!-- zaman kaybı 4 saat sildim -->

                    @if (Model.UserSignature is not null)
                    {
                        <hr/>
                        <div>
                            <p style="color: gray; font-size: 12px; margin-bottom: 5px;">Kullanıcı Imzası:</p>
                            <p style="font-size: 14px; margin-bottom: 0;">@Model.UserSignature</p>
                        </div>
                    }

                </div>
            </div>

            <!-- subject end -->
            <hr class="mt-6"/>

            <div id="comments">
                #yorumlar
            </div>

            <hr class="my-3"/>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">Yeni konular</div>
            #Yeni konular ...
        </div>
        <div class="card mb-4">
            <div class="card-header">Yeni Mesajlar</div>
            #Yeni mesajlar ...
        </div>
    </div>
    <div id="spinner" class="spinner" style="display: none"></div>
</div>


@section Scripts {
    
    <partial name="_Scripts"/>
    


    <script type="text/javascript">
   
    $(document).ready(() => {
        $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('figure.image img').each(function() {
                var width = $(this).width();
                var height = $(this).height();
                
                $(this).css('max-width', '100%');
                $(this).css('height', 'auto');
        
                $(this).css('display', 'block');
                $(this).css('margin-left', 'auto');
                $(this).css('margin-right', 'auto');
            });
        });
       
    </script>
    
}