@model EditSubjectViewModel


@{
    ViewData["Title"] = "Düzenle";
}

<div class="container-fluid">

    @if (Model is null)
    {
        <text>Bir sorun oluştu</text>
    }
    else
    {
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><strong>@Model.Title</strong> düzenle</h1>
        </div>


        <div class="mt-4">
            <div class="row">
                <div>
                    <a class="mx-2"
                        asp-area="" asp-controller="User" asp-action="Index"
                       asp-route-username="@Model.SubjectOwner" style="text-decoration: none">
                        @Model.SubjectOwner
                    </a>
                </div>
                <div class="mx-2">
                    Kategori : <b class="text-success">@Model.CategoryName</b>
                </div>
                <div class="mx-2">
                    <b class="text-success">@await Component.InvokeAsync("ShowTime",@Model.CreatedAt)</b>
                </div>
            </div>
            <div class="mt-2">
                <form method="post" asp-action="Edit" asp-controller="Subject" asp-area="Admin">
                    <input type="hidden" asp-for="SubjectOwner"/>
                    <input type="hidden" asp-for="SubjectId"/>
                    <input type="hidden" asp-for="CategoryName"/>
                    <input type="hidden" asp-for="CreatedAt"/>
                    
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label >Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" value="@Model.Title">
                    </div>
                    
                    
                    <!-- kategoriler -->
                    <div class="form-group">
                        <label>Konu Seçiniz *</label>
                        <select class="form-control my-3"
                                asp-items="@ViewBag.Categories" asp-for="CategoryId"></select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">içerik</label>
                        <textarea class="form-control" asp-for="Content"
                           id="Content"
                           value="@Model.Content"></textarea>
                    </div>

                    <div class="custom-control custom-switch mb-2">
                        <input type="checkbox" class="custom-control-input" id="customSwitches"
                               asp-for="IsActive">
                        <label class="custom-control-label" for="customSwitches">Onayla</label>
                    </div>


                    <div class="d-flex justify-content-between mt-4 mb-5">
                        <button type="submit" class="btn btn-outline-success">Gönder</button>
                        
                        
                        
                        
                        
                        
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-trash text-danger"></i>
                        </button>
                                                        
                                                            <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Bildirimleri sil</h4>
                                    </div>
                                    <div class="modal-body">
                                        Bu raporu silmek istediğine emin misin ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                        <a asp-controller="Subject" asp-action="DeleteSubject" asp-area="Admin"
                                           asp-route-url="@Model.Url"
                                           class="btn btn-outline-danger">
                                            Sil
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </form>
            </div>
        </div>
    }
    
</div>

@section Scripts
{
    <script asp-append-version="true" src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script asp-append-version="true" src="~/js/site.js"></script>
    
    <script type="text/javascript">
        ClassicEditor.create( document.querySelector('#Content'),{
            toolbar: [
                'heading', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'numberedList', 'bulletedList', '|',
                'alignment', '|', 'indent', 'outdent', '|', 'link', '|', 'undo', 'redo' , '|', 'uploadImage'
            ],
            extraPlugins: [ MyCustomUploadAdapterPlugin ]
        })
        .then(editor => {
               
           editor.setData(@Html.Raw(Json.Serialize(Model.Content)));
           })
         .catch(error => {
             console.error(error);
         });
    </script>
}
