@model CommentViewModel




<div class="d-flex flex-column my-2" id="comment-container">
    <div class="bg-white">
        <div class="flex-row d-flex">
            <img src="dp.jpg" width="40" class="rounded-circle">
            <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name">@Model.CommentUserName</span>
                <span class="date text-black-50">Katılma Tarihi : @Model.CreatedAt.ToString("d")</span>
                <span class="date text-black-50">Mesaj Sayısı : @Model.UserCommentCount</span>
            </div>
        </div>
        <div class="mt-3">
            <p class="comment-text">@Model.Content</p>
        </div>
    </div>
    <div class="bg-white">
        <div class="d-flex flex-row fs-14">
            <div class="p-2 cursor p-2">
                <a id="like"
                   data-toggle="tooltip"
                   data-popper-placement="top"
                   title="Beğen">
                    <i id="like_icon" class="fa fa-thumbs-o-up @(Model.isLiked ? "text-danger" : "")"></i> 
                    <span id="likecount">@Model.likeCount</span>

                </a>
            </div>
            <div class="p-2 cursor p-2">
                <a data-toggle="tooltip"
                   data-popper-placement="top"
                   title="Beğenme">
                    <i class="fa fa-thumbs-o-down"></i> 0
                </a>
            </div>
            <div class="p-2 cursor p-2">
                <a data-toggle="tooltip"
                   data-popper-placement="top"
                   title="Kalp">
                    <i class="fa fa-heart"></i> 0
                </a>
            </div>
        </div>
        <div class="text-muted">@await Component.InvokeAsync("ShowTime",Model.CommentDate)</div>
    </div>
</div>
