@model SubjectViewModel

@section Head
{
    <link asp-append-version="true" rel="stylesheet" href="css/style4.css"></link>
}

@{
    // metod component oldu
}

<div class="headings d-flex justify-content-between align-items-center mb-3">
    <div>
        <h6 class="mt-1"><span class="badge bg-secondary">@Model.Category.CategoryName</span></h6>
        <h4><strong>@Model.Subject.Title</strong></h4>
        <p><i class="fa fa-user"></i> @Model.UserName 
            · <i class="fa fa-clock-o" aria-hidden="true"></i> @await Component.InvokeAsync("ShowTime",Model.CreatedAt)
            · <i class="fa fa-reply" aria-hidden="true"></i> <span id="commentCount"> @Model.CommentCount </span></p>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="row  d-flex justify-content-center">
            
            <div class="d-flex flex-column" id="comment-container">
                <div class="bg-white">
                    <div id="err" class="text-danger mb-2"></div>
                    <div class="flex-row d-flex">
                        <img src="dp.jpg" width="40" class="rounded-circle">
                        <div class="d-flex flex-column justify-content-start ml-2">
                            <span class="d-block font-weight-bold name">@Model.UserName</span>
                            <span class="date text-black-50">Katılma Tarihi : @Model.CreatedAt.ToString("d")</span>
                            <span class="date text-black-50">Mesaj Sayısı : @Model.UserCommentCount</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="comment-text">@Model.Subject.Content</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-14">
                        <div class="p-2 cursor p-2">
                            <a id="like"
                               data-toggle="tooltip"
                               data-popper-placement="top"
                               title="Beğen">
                                <i id="like_icon" class="fa fa-thumbs-o-up @(Model.isLiked ? "text-danger" : "")"></i> 
                                <span id="likecount">@Model.likeCount</span>

                            </a>
                        </div>
                        <div class="p-2 cursor p-2">
                            <a
                                id="dislike"
                                data-toggle="tooltip"
                               data-popper-placement="top"
                               title="Beğenme">
                                <i id="dislike_icon" class="fa fa-thumbs-o-down @(Model.isLiked ? "text-danger" : "")"></i>

                                <span id="dislikecount">@Model.dislikeCount</span>
                                
                            </a>
                        </div>
                        <div class="p-2 cursor p-2">
                            <a 
                                id="heart"
                                data-toggle="tooltip"
                               data-popper-placement="top"
                               title="Kalp">
                                <i id="heart_icon" class="fa fa-heart @(Model.isLiked ? "text-danger" : "")"></i> 

                                <span id="heartcount">@Model.heartCount</span>
                            </a>
                        </div>
                        
                        <!--<div class="p-2 cursor p-2">
                            <i class="fa fa-comment"></i><span class="ml-1">Reply</span>
                        </div>-->
                        <!--<div class="p-2 cursor p-2">
                            <i class="fa fa-share"></i><span class="ml-1">Share</span>
                        </div>-->
                    </div>
                    
                    <div class="text-muted">@await Component.InvokeAsync("ShowTime",Model.Subject.CreatedAt)</div>
                </div>
            </div>

            <hr class="mt-6"/>
            
            
            <div id="comments">
                @foreach (var item in Model.Comments)
                {
                    <partial name="_CommentCard" model="item"/>
                }
            </div>
            
            <hr class="my-3"/>
            <div class="text-danger" id="DivError"></div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <h4>Yorum Ekle</h4>
                    <form asp-action="AddComment" asp-controller="Subject" method="post">
                        <!--<div class="text-danger" asp-validation-summary="All"></div>-->
                        <input type="hidden" name="SubjectId" id="SubjectId" value="@Model.Subject.SubjectId"/>
                                    
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Yorum</label>
                            <textarea type="text" name="Text" rows="3" id="Text" class="form-control"></textarea>
                        </div>
                                    
                        <div class="col-md-12 mb-3">
                            <button id="btnYorumKayit" type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                }
                else
                {
                    <h6 class="text-primary my-4 mb-lg-5">Yorum yazmak için <a asp-action="Login" asp-controller="Account" class="text-muted">giriş yap</a></h6>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        4
    </div>
    
    <div id="spinner" class="spinner" style="display: none"></div>
</div>


@section Scripts {
    <!-- bu request site.js'e taşınmazsa canımızı yakar -->
    <script type="text/javascript">
        $(document).ready(function() {
        
            $("#btnYorumKayit").click(function(e) { 
                var textValue = $('#Text').val();

                if (textValue.trim() === ''){
                    $("#DivError").append('Yorum boş gidemez !'+
                                                              '<br>');
                }
                else{
                    $("#spinner").show();
                    $.ajax({
                   
                        type: 'POST',
                        url: '@Url.Action("AddComment")',
                        dataType: 'json',
                        data: {
                            SubjectId: $('#SubjectId').val(),
                            Text: $('#Text').val()
                        },
                        success: function(yorum) {
                                           $("#spinner").hide();
        
                            var date = new Date(yorum.createdAt);
                            var shortDate = date.toLocaleDateString('tr-TR');
                            
                            
        
                            $("#comments").append(`
                                <div class="d-flex flex-column my-2" id="comment-container">
                                    <div class="bg-white">
                                        <div class="flex-row d-flex">
                                            <img src="dp.jpg" width="40" class="rounded-circle">
                                            <div class="d-flex flex-column justify-content-start ml-2">
                                                <span class="d-block font-weight-bold name">${yorum.username}</span>
                                                <span class="date text-black-50">Katılma Tarihi : ${shortDate}</span>
                                                <span class="date text-black-50">Mesaj Sayısı : ${yorum.messageCount}</span>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p class="comment-text">${yorum.text}</p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-14">
                                            <div class="p-2 cursor p-2">
                                                <i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
                                            </div>
                                            <div class="p-2 cursor p-2">
                                                <i class="fa fa-comment"></i><span class="ml-1">Reply</span>
                                            </div>
                                            <div class="p-2 cursor p-2">
                                                <i class="fa fa-share"></i><span class="ml-1">Share</span>
                                            </div>
                                        </div>
                                        <div class="text-muted">Hemen şimdi</div>
                                    </div>
                                </div>
                            `);
                           
        
                            
                            $("#Text").val('');
        
                            var adet = parseInt($("#commentCount").text());
                            $("#commentCount").text(adet + 1);
                        },
                        error: function(xhr, status, error) {
                          $("#spinner").hide();
        
                          $("#DivError").append('Bir hata oluştu'+
                                                '<br>');
                          
                                  setTimeout(function() {
                                      $("#DivError").empty();
                                  }, 30000); // 30 saniye
                        }
        
                        
                    });
                    return false;
                }
            });
    
            
            //////////
            
            
            $("#like").click(function (e){
                $("spinner").show();
                $.ajax({
                    type : 'Post',
                    url : '@Url.Action("LikeSubject")',
                    dataType : 'json',
                    data:{
                        SubjectId: $('#SubjectId').val()
                    },
                    success : function (ret){
                        console.log(ret);
                        $("#spinner").hide();
                        if (ret.success == -1){
                            $("#err").append('Bir hata oluştu');
                            $("#like_icon").removeClass("text-danger");
                        }
                            
                        else if (ret.success == 1){
                            $("#like_icon").addClass("text-danger");
                            $("#dislike_icon").removeClass("text-danger");
                            $("#heart_icon").removeClass("text-danger");
                            
                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }
                        else if (ret.success == 2){
                            $("#like_icon").removeClass("text-danger");
                            $("#dislike_icon").removeClass("text-danger");
                            $("#heart_icon").removeClass("text-danger");
                            
                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }

                        return false;
                    },
                    error:function (xhr, status, error){
                        $("#spinner").hide();
                        $("#err").append('Bir hata oluştu'
                                                    +'<br>');
                        setTimeout(function() {
                              $("#err").empty();
                          }, 30000);
                    }
                });
                return false;
            })
            
            /////
            
            $("#dislike").click(function (e){
                $("spinner").show();
                $.ajax({
                    type : 'Post',
                    url : '@Url.Action("dislikeSubject")',
                    dataType : 'json',
                    data:{
                        SubjectId: $('#SubjectId').val()
                    },
                    success : function (ret){
                        console.log(ret);
                        $("#spinner").hide();
                        if (ret.success == -1){
                            $("#err").append('Bir hata oluştu');
                            $("#dislike_icon").removeClass("text-danger");
                        }
                            
                        else if (ret.success == 1){
                            $("#dislike_icon").addClass("text-danger");
                            $("#like_icon").removeClass("text-danger");
                            $("#heart_icon").removeClass("text-danger");
                            
                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }
                        else if (ret.success == 2){
                            $("#dislike_icon").removeClass("text-danger");
                            $("#like_icon").removeClass("text-danger");
                            $("#heartcount").removeClass("text-danger");

                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }

                        return false;
                    },
                    error:function (xhr, status, error){
                        $("#spinner").hide();
                        $("#err").append('Bir hata oluştu'
                                                    +'<br>');
                        setTimeout(function() {
                              $("#err").empty();
                          }, 30000);
                    }
                });
                return false;
            })
            
            
            /////
            
            $("#heart").click(function (e){
                $("spinner").show();
                $.ajax({
                    type : 'Post',
                    url : '@Url.Action("heartSubject")',
                    dataType : 'json',
                    data:{
                        SubjectId: $('#SubjectId').val()
                    },
                    success : function (ret){
                        console.log(ret);
                        $("#spinner").hide();
                        if (ret.success == -1){
                            $("#err").append('Bir hata oluştu');
                            $("#heart_icon").removeClass("text-danger");
                        }
                            
                        else if (ret.success == 1){
                            $("#heart_icon").addClass("text-danger");
                            $("#like_icon").removeClass("text-danger");
                            $("#dislike_icon").removeClass("text-danger");

                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }
                        else if (ret.success == 2){
                            $("#heart_icon").removeClass("text-danger");
                            $("#like_icon").removeClass("text-danger");
                            $("#dislike_icon").removeClass("text-danger");
                                                       
                            $("#heartcount").text(ret.heartcount);
                            $("#likecount").text(ret.likecount);
                            $("#dislikecount").text(ret.dislikecount);
                        }

                        return false;
                    },
                    error:function (xhr, status, error){
                        $("#spinner").hide();
                        $("#err").append('Bir hata oluştu'
                                                    +'<br>');
                        setTimeout(function() {
                              $("#err").empty();
                          }, 30000);
                    }
                });
                return false;
            }
            
            
          );
        });
    </script>

    <script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip();
          });
      </script>
}