<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>@ViewData["Title"] - GargamelinBurnu</title>
    @await RenderSectionAsync("Head",false)
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" asp-append-version="true" href="~/GargamelinBurnu.styles.css" asp-append-version="true"/>

    <!--- ! --->
    <link rel="icon" type="image/x-icon" href="fav.png">
    
</head>
<body>
@if (TempData["message"] is not null)
{
    <h6>@TempData["message"]</h6>
}
<header>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Gargamelin Burnu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Ana Sayfa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            Sosyal
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="https://www.youtube.com/">En çok yorumlananlar</a></li>
                            <li><a class="dropdown-item" href="#">En çok beğenilenler</a></li>
                            <li><a class="dropdown-item" href="#"><b>Kategoriler</b></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!">Blog</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="Account">Kayıt Ol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Login" asp-controller="Account">Giriş Yap</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Logout" asp-controller="Account">Çıkış Yap</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

@await RenderSectionAsync("Header", false)

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="container mt-4">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Ana sayfa</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Blog</a></li>
      
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hakkında</a></li>
    </ul>
    <p class="text-center text-muted">&copy; @DateTime.Now.Year gargamelinburnu.com</p>
    <p class="text-center text-muted" style="text-decoration: none;font-size: 12px"><a href="#">Gizlilik sözleşmesi</a></p>
  </footer>
</div>


<script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/js/site.js" asp-append-version="true"></script>
<script asp-append-version="true" src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
<script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" asp-append-version="true" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script asp-append-version="true" src="js/signalr.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<!-- iletişim için yazın -->
</body>
</html>